html {
  background: linear-gradient(0deg, rgb(28, 42, 67) 0%, rgba(0, 0, 0, 1) 43%);
  background-attachment: fixed;
}


div#header,
div#header-inner {
  position: relative;
  text-transform: full-width;
  font-family: sans-serif;
}


img#cloud {
  position: absolute;
  z-index: -1;
  opacity: 0.3;
  top: 100px;
  max-width: 600px;
  top: -100px;
}

body {
  max-width: 800px;
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.2rem;
  margin: 50px auto;
  padding: 0px 10px;
  line-height: 2rem;
  color: #efefef;
}

p.description::first-letter {
  font-size: 2rem;
}

.date {
  font-style: italic;
}

div#dreams {
  padding-top: 20px;
}

.dream {
  padding: 10px 0px;
}
.dashed {
  border-bottom: dashed 2px #999;
}

h1 {
  flex: 3;
  align-self: center;
  font-size: 4rem;
}

#header {
  display: flex;
}

#header div {
  flex: 1;
}

#moon > img {
  max-height: 150px;
  opacity: 0.5;
  transition: opacity 0.8s;
}

#moon > img:hover {
  opacity: 1;
}
