body {
  max-width: 800px;
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.2rem;
  margin: 50px auto;
  padding: 0px 10px;
  line-height: 2rem;
}

p.description::first-letter {
  font-size: 2rem;
}

.date {
  font-style: italic;
}

div#dreams {
  padding-top: 20px;
}

.dream {
  padding: 10px 0px;
}
.dashed {
  border-bottom: dashed 3px #888;
}
